 body {max-width: 1440px;
  margin: auto;}
  
  .login-content {
    height: 550px;
    padding-left: 10px;
  }
  h1 {
    text-align: center;
    font-size: 40px;
    margin: 0 20px 20px;
  }
  h2,
  h3,
  p,
  h4 {
    text-align: center;
    color: rgb(4, 4, 2);
  }
  h3 {
    font-weight: 400;
  }
  .main-title {
    margin-top: 6px;
    margin-bottom: 16px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    font-size: 48px;
    letter-spacing: -0.005em;
  }
  .sub-info {
    color: var(--gris-color);
    font-size: 14px;
  }
  .citation {
    font-size: 28px;
  }
  .sub-citation {
    font-size: 20px;
  }
  .container-image {
    width: 900px;
  }
  .content-citation {
    margin: 50px 0;
  }
  .container-citation {
    padding: 20px;
  }
  .login-content .button {
      margin: auto;
      width: 230px;
      height: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background: black;
      border: 1px solid white;
      border-radius: 20px;
      font-size: 22px;
      font-weight: 600;
      
    }
    .login-content .button p {
        margin: 0;
        color: white;
      }
  .separation {
    width: 80%;
    height: 1px;
    margin: 50px auto 0;
    background: var(--gris-color);
  }
  .section-feature {
    height: 380px;
    padding: 0 20px;
    justify-content: center;
    margin: 50px 0;
  }
  .section-feature > div {
          width: 500px;

  }
  .section-feature-image {
    position: relative;
    
  }
  .section-feature-image img {
      width: 300px;
      margin: 5px;
      box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
        0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    }
  .footer {
    margin-top: 50px;
    color: var(--gris-color);
  }
  .sub-link {
    color: var(--gris-color);
  }
  .main-image {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
      0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    border-radius: 10px;
  }
.team {
  margin-top: 50px;

}
  .team img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }
  .team-container {
    width: 800px;
    margin: 20px auto;
  }
  .interogation {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: var(--main-color);
    font-size: 100px;
    color: black;
  }
  .team a {
    text-decoration: underline;
    color: #0b7fc7;
    margin-bottom: 20px;
  }

  .all_in_on_place {
    
  }

  @media all and (max-width: 800px) {
    h1 {
      justify-content: center;
    }
    .order1 {
      order: 1;
    }
    .login-content {
      height: 100%;
      padding: 0;
    }
    body {
      padding: 5px;
    }
    .container-image {
      width: 100%;
      
    }
    .container-image img {
        width: 100% !important;
        margin-left: 0 !important;
      }
  }
